:root {
  --background: #131313;
  --foreground: #ffffff;
  --color-brand: #c59f63;
  --color-card: #1d1d1d;
  --color-card-border: #2d2d2d;
}

html,
body {
  font-family: "Geist", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
}

p,
label,
button,
a {
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  color: rgb(163 163 163 / var(--tw-text-opacity, 1)) /* #a3a3a3 */;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 5px 0 0 0;
}

h1 {
  font-size: 2.25rem /* 36px */;
}

h2 {
  font-size: 1.75rem /* 28px */;
}

h3 {
  font-size: 1.5rem /* 24px */;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin: 10px 0;
}

nav img {
  height: 40px;
}

nav img svg path {
  fill: var(--color-brand);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: var(--color-brand);
  border-width: 1px 0 0 0;
  border-style: solid;
  margin-top: 32px;
  padding: 10px;
}

footer #version {
  font-size: 0.875rem /* 14px */;
}

ul {
  padding: 0 0 0 20px;
  margin: 0;
  list-style: square;
  color: rgb(163 163 163 / var(--tw-text-opacity, 1)) /* #a3a3a3 */;
}

ul li::marker {
  color: var(--color-brand);
}

li {
  margin: 5px 0;
  font-size: 1.125rem /* 18px */;
}

li b {
  font-weight: 400;
  color: var(--foreground);
}

input[type="checkbox"] {
  accent-color: var(--color-brand);
  color: var(--foreground);
}

hr {
  border: none;
  border-top: 1px dashed var(--color-brand);
}

.layout {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}

.hidden {
  display: none !important;
}

.card {
  background: var(--color-card);
  border: 1px solid var(--color-card-border);
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.brand-color {
  color: var(--color-brand);
}

@media screen and (min-width: 768px) {
  .layout {
    padding: 5px 20px;
  }
}
