body {
  width: 480px;
  height: 580px;
}

#login-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#login {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  background-color: var(--color-card);
  border: 1px solid var(--color-card-border);
  border-radius: 5px;
  padding: 10px 0px;
  gap: 20px;
  cursor: pointer;
}

#login > img {
  height: 40px;
  width: auto;
  opacity: 60%;
  transition: opacity 0.3s;
}

#login > p {
  margin: 0;
  font-size: 18px;
  transition: color 0.3s;
}

#login:hover > img {
  opacity: 100%;
}

#login:hover > p {
  color: var(--foreground);
}

#prev_analysis {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 10px;
  overflow-y: auto;
}

.process-card {
  display: flex;
  flex-direction: row;
  align-items: start;
  padding: 5px;
  gap: 10px;
  background-color: var(--color-card);
  border: 1px solid var(--color-card-border);
  border-radius: 5px;
}

.process-card > img {
  width: 150px;
  height: auto;
  border-radius: 5px;
}

.process-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.process-details > h3 {
  color: var(--color-brand);
}

.process-actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.process-actions a {
  fill: #a1a1aa;
  cursor: pointer;
}

.process-actions a:hover {
  fill: white;
}

.process-actions a svg {
  height: 32px;
  width: auto;
}
