.download-banner {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 1 !important;
  background-color: rgba(0, 0, 0, 0.85) !important;
  border-bottom-right-radius: 10px !important;
  color: white !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.download-banner a {
  fill: #a1a1aa !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
  cursor: pointer !important;
}

.download-banner a svg {
  height: 32px;
  width: auto;
}

.download-banner a:hover {
  fill: white !important;
}
